@charset "UTF-8";

/* 回答はここに書いてね */

.contents {
  display: table;
  width: 100%;
  padding: 20px;
  background-color: #ecf1f2;
  box-sizing: border-box;
}

.contents__box {
  display: table-cell;
  padding: 20px;
  text-align: center;
}

.contents__box.is-1 {
  width: 100px;
  background-color: #fdc8b8;
}

.contents__box.is-2 {
  background-color: #e0abd9;
}

.contents__box.is-3 {
  width: 100px;
  background-color: #b6d8ed;
}

.contents__box.is-4 {
  background-color: #e5d32e;
}

.contents__box.is-5 {
  background-color: #e4e67c;
}

.contents__box.is-6 {
  width: 500px;
  background-color: #8fdcad;
}
/* 回答はここに書いてね */
